<!-- 组合小车底盘与摄像头与雷达 -->
<robot name="my_car_laser_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="mybase.urdf.xacro" />    <!-- following the filename not the robotname-->
    <xacro:include filename="camera.urdf.xacro" />
    <xacro:include filename="laser.urdf.xacro" />
</robot>