<launch>
     
    <arg name="gui" default="true" />
    
    

    <!-- <arg name="model" default="$(find model)/urdf/model/model.urdf" /> -->
    <arg name="model" default="$(find model)/urdf/gazebo_model.urdf.xacro" />
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(arg model)" /> -->
   <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' robot_name:='mycar'" />
    <!-- 设置参数 -->
    <!-- <arg name="model" default="$(find model)/urdf/model.urdf" />
    <param name="robot_description" textfile="$(arg model)" /> -->



    <!-- 启动 rviz -->
    <arg name="rvizconfig" default="$(find model)/config/model.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true" />

    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
     

</launch>