<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <!-- <arg name="world_name" value="$(find model)/world/room.world" /> -->
  </include>

	<include file="$(find model)/launch/spawn_xacro.launch">

		<arg name="x" value="0.0"/>
		<arg name="y" value="0.0"/>
		<arg name="z" value="0.0"/>
		<arg name="urdf_robot_file" value="$(find model)/urdf/smart.xacro"/>
		<arg name="robot_name" value="smart"/>

	</include>
        

  <include file="$(find model)/launch/smart_control.launch">
    <arg name="robot_name" value="smart"/>
    <arg name="config_file" value="smart_control_config.yaml"/>
  </include>

</launch>